<html>
<head>
<title>index.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #bababa;}
.s3 { color: #6aab73;}
</style>
</head>
<body bgcolor="#1e1f22">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
index.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">xmlns:th</span><span class="s3">=&quot;http://www.thymeleaf.org&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;head&gt;</span>
    <span class="s0">&lt;meta </span><span class="s2">charset</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;title&gt;</span><span class="s1">KOT</span><span class="s0">&lt;/title&gt;</span>
    <span class="s0">&lt;meta </span><span class="s2">name</span><span class="s3">=&quot;viewport&quot; </span><span class="s2">content</span><span class="s3">=&quot;width=device-width, initial-scale=1.0&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;link </span><span class="s2">href</span><span class="s3">=&quot;http://fonts.googleapis.com/icon?family=Material+Icons+Round&quot; </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;link </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s2">th:href</span><span class="s3">=&quot;@{/css/estilos.css}&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;/head&gt;</span>
<span class="s0">&lt;body&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;nav </span><span class="s2">class</span><span class="s3">=&quot;nav-container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;ul </span><span class="s2">class</span><span class="s3">=&quot;nav-menu&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;li </span><span class="s2">class</span><span class="s3">=&quot;nav-item&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;/productos&quot; </span><span class="s2">class</span><span class="s3">=&quot;nav-link&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;i </span><span class="s2">class</span><span class="s3">=&quot;material-icons-round&quot;</span><span class="s0">&gt;</span><span class="s1">post_add</span><span class="s0">&lt;/i&gt;</span>
                        <span class="s0">&lt;span </span><span class="s2">class</span><span class="s3">=&quot;nav-text&quot;</span><span class="s0">&gt;</span><span class="s1">Agregar Producto</span><span class="s0">&lt;/span&gt;</span>
                    <span class="s0">&lt;/a&gt;&lt;br&gt;</span>
                <span class="s0">&lt;/li&gt;</span>
                <span class="s0">&lt;li </span><span class="s2">class</span><span class="s3">=&quot;nav-item&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;a </span><span class="s2">href</span><span class="s3">=&quot;/historial&quot; </span><span class="s2">class</span><span class="s3">=&quot;nav-link&quot;</span><span class="s0">&gt;</span>
                        <span class="s0">&lt;i </span><span class="s2">class</span><span class="s3">=&quot;material-icons-round&quot;</span><span class="s0">&gt;</span><span class="s1">receipt_long</span><span class="s0">&lt;/i&gt;</span>
                        <span class="s0">&lt;span </span><span class="s2">class</span><span class="s3">=&quot;nav-text&quot;</span><span class="s0">&gt;</span><span class="s1">Historial de Ventas</span><span class="s0">&lt;/span&gt;</span>
                    <span class="s0">&lt;/a&gt;&lt;br&gt;</span>
                <span class="s0">&lt;/li&gt;</span>
            <span class="s0">&lt;/ul&gt;</span>
        <span class="s0">&lt;/nav&gt;</span>
        <span class="s0">&lt;form </span><span class="s2">action</span><span class="s3">=&quot;/agregar&quot; </span><span class="s2">method</span><span class="s3">=&quot;post&quot; </span><span class="s2">autocomplete</span><span class="s3">=&quot;off&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;label&gt;</span><span class="s1">Cliente:</span><span class="s0">&lt;/label&gt;&lt;br&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;text&quot; </span><span class="s2">name</span><span class="s3">=&quot;cliente&quot; </span><span class="s2">required</span><span class="s0">&gt;&lt;br&gt;&lt;br&gt;</span>

            <span class="s0">&lt;label&gt;</span><span class="s1">Producto:</span><span class="s0">&lt;/label&gt;&lt;br&gt;</span>
            <span class="s0">&lt;select </span><span class="s2">name</span><span class="s3">=&quot;producto&quot; </span><span class="s2">required</span><span class="s0">&gt;</span>
                <span class="s0">&lt;option </span><span class="s2">value</span><span class="s3">=&quot;&quot;</span><span class="s0">&gt;</span><span class="s1">--  Selecciona un producto  --</span><span class="s0">&lt;/option&gt;</span>
                <span class="s0">&lt;option </span><span class="s2">th:each</span><span class="s3">=&quot;prod : ${productos}&quot; </span><span class="s2">th:value</span><span class="s3">=&quot;${prod.nombre}&quot; </span><span class="s2">th:text</span><span class="s3">=&quot;${prod.nombre}&quot;</span><span class="s0">&gt;&lt;/option&gt;</span>
            <span class="s0">&lt;/select&gt;&lt;br&gt;&lt;br&gt;</span>

            <span class="s0">&lt;label&gt;</span><span class="s1">Cantidad:</span><span class="s0">&lt;/label&gt;&lt;br&gt;</span>
            <span class="s0">&lt;input </span><span class="s2">type</span><span class="s3">=&quot;number&quot; </span><span class="s2">name</span><span class="s3">=&quot;cantidad&quot; </span><span class="s2">min</span><span class="s3">=&quot;1&quot; </span><span class="s2">required </span><span class="s0">/&gt;&lt;br&gt;&lt;br&gt;</span>

            <span class="s0">&lt;button </span><span class="s2">type</span><span class="s3">=&quot;submit&quot;</span><span class="s0">&gt;</span><span class="s1">Registrar Pedido</span><span class="s0">&lt;/button&gt;&lt;br&gt;</span>
        <span class="s0">&lt;/form&gt;</span>
        <span class="s0">&lt;button </span><span class="s2">id</span><span class="s3">=&quot;Agregar-btn&quot; </span><span class="s2">type</span><span class="s3">=&quot;button&quot;</span><span class="s0">&gt;</span><span class="s1">Agregar Productos</span><span class="s0">&lt;/button&gt;&lt;br&gt;</span>
        <span class="s0">&lt;button </span><span class="s2">id</span><span class="s3">=&quot;Historial-btn&quot; </span><span class="s2">type</span><span class="s3">=&quot;button&quot;</span><span class="s0">&gt;</span><span class="s1">Ver Historial de Pedidos</span><span class="s0">&lt;/button&gt;&lt;br&gt;</span>


    <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;script </span><span class="s2">th:src</span><span class="s3">=&quot;@{/js/script.js}&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span></pre>
</body>
</html>