<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Historial de Pedidos</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div class="container">
    <h1>Historial de Pedidos</h1>

    <!-- Botón para generar arqueo -->
    <button class="btn-generar-arqueo" onclick="generarArqueo()">
        Generar Arqueo
    </button>

    <!-- Tabla de pedidos -->
    <table class="styled-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pedido : ${pedidos}">
            <td th:text="${pedido.id}"></td>
            <td th:text="${pedido.cliente}"></td>
            <td th:text="${pedido.producto}"></td>
            <td th:text="${pedido.cantidad}"></td>
            <td th:text="${pedido.total}"></td>
            <td th:text="${pedido.fecha}"></td>
        </tr>
        </tbody>
    </table>
    <br><a href="/" style="text-decoration: none; color: #2dd4bf; font-weight: bold;">Volver</a>
</div>

<!-- JavaScript -->
<script th:src="@{/js/arqueos.js}"></script>
</body>
</html>